.EmbeddedMenu {
  display: flex;
  flex-direction: column;
  min-width: 91px;
}

.EmbeddedMenu--PhotoPage {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 154px;
  left: 20px;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .EmbeddedMenu--PhotoPage {
    display: none;
  }
}

.EmbeddedMenu__burger-wrapper {
  width: 91px;
  height: 91px;
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.EmbeddedMenu--opened .EmbeddedMenu__burger-wrapper {
  background: none;
}

.EmbeddedMenu .Menu {
  display: none;
  background: #525252;
  padding: 10px;
}

.EmbeddedMenu--opened .Menu {
  display: block;
}

.EmbeddedMenu svg {
  width: 40px;
  height: 40px;
}

.EmbeddedMenu path {
  fill: #fff;
}
