.EmbeddedMenu {
  display: flex;
  flex-direction: column;
  min-width: 91px;
}

.EmbeddedMenu__burger-wrapper {
  width: 91px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.EmbeddedMenu .Menu {
  display: none;
  margin-left: 91px;
  background: #333;
  padding: 10px;
}

.EmbeddedMenu--opened .Menu {
  display: block;
}

.EmbeddedMenu svg {
  width: 40px;
  height: 40px;
}

.EmbeddedMenu path {
  fill: #fff;
}
