.PhotoSlider {
  max-width: 100vw;
  margin: 160px 16px 60px;
  position: absolute;
  left: 75px;
  right: 75px;
}

@media screen and (max-width: 767px) {
  .PhotoSlider {
    left: 0;
    right: 0;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

.PhotoSlider__wrapper {
  display: flex;
  overflow: hidden;
}

.PhotoSlider__item {
  display: block;
  flex: 0 0 100%;
  position: relative;
  transition: all 0.3s;
}

.PhotoSlider__photo {
  display: block;
  max-width: 100%;
  user-select: none;
  pointer-events: none; /* necessary to not consume the swipe */
}

.PhotoSlider__next,
.PhotoSlider__previous {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  width: 50px;
  height: 50px;
  background: #1d1d1d;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PhotoSlider__next svg,
.PhotoSlider__previous svg {
  width: 20px;
  height: 20px;
}

.PhotoSlider__next path,
.PhotoSlider__previous path {
  fill: #fff;
}

.PhotoSlider:hover .PhotoSlider__next,
.PhotoSlider:hover .PhotoSlider__previous {
  opacity: 1;
}

.PhotoSlider__next {
  right: 10px;
}

.PhotoSlider__previous {
  left: 10px;
}

.PhotoSlider--on-first .PhotoSlider__previous,
.PhotoSlider--on-last .PhotoSlider__next {
  opacity: 0 !important;
}

.PhotoSlider__count {
  position: absolute;
  top: 100%;
  left: 10px;
  margin-top: 5px;
}

.PhotoSlider__toggle-settings {
  position: absolute;
  top: 100%;
  right: 0;
  background: #d91b1b;
  color: #fff;
  padding: 12px 14px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.PhotoSlider__toggle-settings:hover {
  background: #920000;
}

.PhotoSlider__outer-wrapper {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
}
